<title>Admin</title>
<link rel="stylesheet" type="text/css" href="style_admin.css">
<script src="script_admin.js" defer></script>

<div class="back">
<div class="header">
	<div class="admin_wall">
		<h1>ADMIN</h1>
	</div>
	<div class = "nav">
			<a id = "bar1" href="/admin"><div class="news_link">News DB</div></a>
			<a id = "bar2" href="/admin"><div class="item_link">Item DB</div></a>
	</div>
</div>
<div class="main">
	
</div>
<div class="footer">Contacts</div>