<title>КУБЫ</title>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="script.js" defer></script>

<div class="back">
<div class="header">
<div class = "wall">
		<div class="welcome_text"><div>КУБЫ</div></div>
</div>
<div class = "nav">
	<div class = "download_icon">
		<a href="/">&#8659</a>
	</div>
	<a href="#" class="toggle-button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>
	<div class = "menu">
		<a id = "bar" href="/"><div class="block_link">Home</div></a>
		<a id = "bar" href="/"><div class="block_link">Rules</div></a>
		<a id = "bar" href="/"><div class="block_link">Market</div></a>
		<a id = "bar" href="/"><div class="block_link">Help</div></a>
	</div>
</div>
</div>
<div class="main">
	<div class="left_part">
		<div class="description">
			<h2>КУБЫ - Server Minecraft</h2>
			<h4>Enjoy the game</h4>
		</div>
		<div class="download_launcher">
			<a href="#">Download Launcher</a>
		</div>
		<div class="status_text">Servers:</div>
		<div class="server_description">
			<div class="server1">
				<h1>Craft to Exile[Dissonance]</h1>
				<p>PVP PVE MMORPG</p>
			</div>
		</div>
	</div>
	<div class="right_part">
		<h1 class="title_news">Last News</h1>

		<div class="all_news">
			<div class="news">
				<a href="#">
					<img src="pictures/news_img6.png">
					<div class="news_text">
						<h2>We start</h2>
						<div class="date">25.11.2020</div>
					</div>
				</a>
			</div>
		</div>
		{{#each news}}

		{{/each}}
	</div>
</div>
<div class="footer">
	<div class="footer_info">Contacts</div>
</div>
</div>