<!DOCTYPE html>
<html>
<head>
	<title>КУБЫ</title>
	<link rel="stylesheet" href="views/style.css">
    <script src="views/script.js" defer></script>
</head>
<body>
<div class="back">

<div class="header">
<div class = "nav">
	<div class = "menu">
		<div class = "icon"><a id = "bar" href=" ">Home</a></div>
		<div class = "icon"><a id = "bar" href=" ">Rules</a></div>
		<div class = "icon"><a id = "bar" href=" ">Market</a></div>
		<div class = "icon"><a id = "bar" href=" ">Help</a></div>
	</div>
	<div class = "join_us">
		<div class = "download_icon">
			<a href=""><img src="https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/download-512.png"></a>
		</div>
	</div>
</div>
	<div class = "wall">
		
	</div>
</div>
<div class="main">
q
</div>
<div class="footer">
	Contacts
</div>
</div>
</body>
</html>