<!DOCTYPE html>
<html>
<head>
	<title>КУБЫ</title>
	<link rel="stylesheet" href="views/style.css">
    <script src="views/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="back">

<div class="header">
<div class = "nav">
	<div class = "download_icon">
		<a href="/">&#8659</a>
	</div>
	<a href="#" class="toggle-button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>
	<div class = "menu">
		<div class = "icon"><a id = "bar" href="/"><div class="block_link">Home</div></a></div>
		<div class = "icon"><a id = "bar" href="/">Rules</a></div>
		<div class = "icon"><a id = "bar" href="/">Market</a></div>
		<div class = "icon"><a id = "bar" href="/">Help</a></div>
	</div>
</div>
	<div class = "wall">
		
	</div>
</div>
<div class="main">

</div>
<div class="footer">
	<div class="footer_info">Contacts</div>
</div>
</div>
</body>
</html>