<title>Gallery</title>
<link rel="stylesheet" type="text/css" href="/gallery.css">
<script src="/gallery.js" defer></script>

<div class="back">

<div class="header">
<div class = "nav">
	<div class="logo_gallery">Gallery</div>
	<a href="#" class="toggle-button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>
	<div class = "menu">
		<a id = "bar" href="/" class="act"><div class="block_link">Home</div></a>
		<a id = "bar" href="/market"><div class="block_link">Market</div></a>
	</div>
</div>
</div>

<div class="main">
	<a href="/market/item-1" class="BigImage"></a>
	<div class="carousel"></div>
</div>

<div class="footer">
	<div class="footer_info">Contacts</div>
</div>

</div>