<title>Market</title>
<link rel="stylesheet" type="text/css" href="style_market.css">
<script src="market.js" defer></script>

<div class="back">

<div class="header">
<div class = "nav">
	<div class="logo_market">Market</div>
	<a href="#" class="toggle-button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>
	<div class = "menu">
		<a id = "bar" href="/" class="act"><div class="block_link">Home</div></a>
		<a id = "bar" href="#" class="btSortUp"><div class="block_link">Sort &#8593</div></a>
		<a id = "bar" href="#" class="btSortDown"><div class="block_link">Sort &#8595</div></a>
		<a id = "bar" href="/market/all_items"><div class="block_link">All Items</div></a>
	</div>
	<div class="search-container">
		<form>
			<input type="text" placeholder="Search by name..." name="search" class="search">
    		<button type="submit" class="btClick">&#9668</button>
		</form>
	</div>
</div>
</div>

<div class="main" style="">
	<div class="star_cards">
		
	</div>
	<div class="all_cards">
		<!-- <a href="/" class="card">
			<div class="desc">
				<img src="/pictures/item/excalibur.jpeg">
				<h3>Excalibur</h3>
				<h4>Price:120000$</h4>
			</div>
			<p>&#9733</p>
		</a> -->
	</div>
</div>

<div class="footer">
	<div class="footer_info">Contacts</div>
</div>

</div>