<title>Gallery</title>
<link rel="stylesheet" type="text/css" href="/news_element.css">
<script src="/gallery.js" defer></script>

<div class="back">

<div class="header">
<div class = "nav">
	<div class="logo_news">News</div>
	<a href="#" class="toggle-button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>
	<div class = "menu">
		<a id = "bar" href="/" class="act"><div class="block_link">Home</div></a>
	</div>
</div>
</div>

<div class="main">
	<div class="title_news">{{new.header}}</div>
	<img src="{{new.image}}" class="picture">
	<div class="description">{{new.main}}</div>
</div>

<div class="footer">
	<div class="footer_info">Contacts</div>
</div>

</div>